<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
<nav th:insert="header :: navbar1"></nav>
<h1>Get Data from list using thymeleaf</h1>

<h5 th:each="num : ${listOfNumber}">
    <span th:text="${num}"></span>
</h5>

<hr>

<table border="1">
    <tr>
        <th>Expression</th>
        <th>Result</th>
    </tr>

    <tr th:each="item,idx : ${table}">
        <td th:text="${number} + ' x ' + ${idx.index+1}"></td>
        <td th:text="${item}"></td>
    </tr>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>