<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>Student List</h3>

    <a href="/admin/students/add" class="btn btn-success mb-3">
        Add Student
    </a>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.rollNo}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.email}"></td>
            <td th:text="${s.phone}"></td>
            <td>
                <a th:href="@{/admin/students/edit/{id}(id=${s.id})}"
                   class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/admin/students/delete/{id}(id=${s.id})}"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>